@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.fgpassformcontainer{
    height: 100vh;
    position: relative;
    top: -273px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.background{
    background-image: url("https://i.pinimg.com/564x/85/76/44/857644563a31eb283ec0ff2f1166f3e2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.loginform{
    background-color: white;
    background-image: url("https://i.pinimg.com/564x/85/76/44/857644563a31eb283ec0ff2f1166f3e2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    width: 30vw;
    box-shadow: 2px 2px  pink;
}
.form-control{
    outline: 1px solid pink;
    border: none;
    border-radius: 2rem;
    padding: 1rem .75rem 1rem 1rem;
}
.form-control:focus{
    outline: 1px solid pink;
    border: none;
}
.form-floating>.form-label{
    margin-left: 0.8rem;
}

.loginbtn{
    background-color: #fe8498;
    border: 1px solid #fe8498;
    border-radius: 1.5rem;
    padding: 10px 25px;
    font-weight: 600;
    box-shadow: 1px 1px 2px #979797;
    transition: all 0.3s ease-in;
}
.loginbtn:hover{
    background-color: #fe8498;
    border: 1px solid #fe8498;
    border-radius: 1.5rem;
    padding: 10px 25px;
    font-weight: 600;
    box-shadow: 1px 1px 2px #979797;
    transform: translateY(-2px);
}
.forgetpassbtn{
    border: none;
}
.forgetpassbtn:hover{
    border: none;
    background-color: none;
    text-decoration: underline;
}
.forgetpassbtn:focus{
    box-shadow: none;
}
.signuptext{
    font-size: 14px;
}
.signbtn{
    color: #fe8498;
    text-decoration: underline #fe8498;
    border-radius: 1.5rem;
    font-weight: 600;
}
.signbtn:hover{
    color: #fe8498;
}
.form-check-input:focus{
    border: #fe8498;
    accent-color:#fe8498 ;
}
input[type=text]{
    padding-left: 1.7rem !important;
}
input[type=email]{
    padding-left: 1.7rem !important;
}
input[type=password]{
    padding-left: 1.7rem !important;
}